doctype html
html
  head

    //- title
    title

    //- favicon
    //- link(rel="apple-touch-icon-precomposed" sizes="152x152" type="image/png" href="/assets/global/favicon-152.png")
    //- link(rel="icon" type="image/png" sizes="32x32" href="/assets/global/favicon-32.png")

    //- SEO
    meta(charset="utf-8")
    meta(name="keywords" content="")
    meta(name="description" content="")

    //- mobile
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")

    //- facebook
    meta(property="og:site_name" content="")
    meta(property="og:title" content="")
    meta(property="og:type" content="")
    meta(property="og:url" content="")
    meta(property="og:image" content="")
    meta(property="og:description" content="")

    //- css
    link(rel="stylesheet" href="/index.css" type="text/css")
    script.
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', !{JSON.stringify(locals.analyticsId)}, 'auto');
      ga('send', 'pageview');
    script(async src='https://www.google-analytics.com/analytics.js')
    script.
      var Global = !{JSON.stringify(locals)}

  body
    script(type="text/javascript" src="/index.js")
    script(async type="text/javascript" src="https://platform.twitter.com/widgets.js")
